@import "../vars.scss";
@import "../mixins.scss";
@import "../fonts.scss";

.main_slider{
	width: 100%;
	height: calc(100vh - 80px);
	background-image: url("/images/slider_im.jpg");
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	.line_opacity{
		overflow: hidden !important;
		width: 100%;
		height: 100%;
		display: block;
		position: relative;
		.wrapped_line_opacity{
			width: 150%;
			height: 70%;
			min-height: 500px;
			background-color: rgba(0,0,0,.5);
			position: absolute;
			left: -50%;
			z-index: 1;
			transform: rotate(50deg);
		}
	}
	&_content{
		width: 60%;
		height: 40%;
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		z-index: 2;
		display: flex;
		align-items: center;
		&_article{
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 20px;
			&__header{
				font: 3em GilRoyBlack;
				color: $color_main;
				margin: 0;
				position: relative;
				&::after{
					content: attr(data-cnt);
					color: rgb(255, 255, 255);
					position: absolute;
					left: 2px;
					top: 2px;
				}
			}
			&__description{
				color: white;
				font: 1.1em GilRoyLight;
				width: 50%;
				margin: 0;
			}
			&__button{
				padding: 10px 10px;
				width: 150px;
				@include button_props($color_main, 25px);
			}
		}
	}
}
