// Colors
$color_main: #0070f3;
$color_grey-ligth: #eaeaea;
// ...

// Sizes
$size_border-radius_sm: 2px;
$size_border-radius_md: 4px;
$size_border-radius_lg: 6px;

// paddings
$padding_container: 80px;


// mixins
